:root {
  --color-background: #F9FAFB;
  --color-white: #FFFFFF;
  --color-border: #d2d6dc;
  --color-text: #000000; 
  --color-purple: #5850ec;
  --color-purple--shade: #6875F5;
  --color-error: rgb(240, 82, 82);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
